/bin/
/BadWitherNoCookie_Client.launch
/BadWitherNoCookie_Server.launch
/build/
/eclipse/
/gradle.properties
/gradle/
/gradlew
/gradlew.bat
/run/

\.gradle/2\.14/taskArtifacts/

\.gradle/

\.project

\.settings/

\.classpath

.idea/
